@font-face {
  font-family: "DM Serif Display";
  src: url(DMSerifDisplay-Regular.ttf) format(ttf);
}
@font-face {
  font-family: "Karla";
  src: url(Karla-VariableFont_wght.ttf) format(ttf);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 16px;
}
button,
a {
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.nav-links {
  display: none;
}

.nav {
  background: #ffff;
  height: 4.5rem;
  padding: 1rem;
}

.nav-center {
  width: 100%;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav-header h3 {
  font-size: 1.75rem;
}

.nav-btn {
  justify-self: end;
  background: transparent;
  border-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 25px;
}
.menu-bar i {
  border: 2.3px ridge black;
  padding: 4px 5px;
}

.image img {
  width: 100%;
  height: 28.125rem;
}
.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(62, 68, 131);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: all 0.5s linear;
  color: #000000;
}
.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 35px;
  height: 35px;
  font-size: 20px;
  background: transparent;
  border: 2px groove #000000;
  cursor: pointer;
}
.page img {
  position: absolute;
  left: 1rem;
  top: 1rem;
  background: transparent;
}

.page-links li {
  width: 200px;
  list-style: none;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  color: #000000;
}

.page-links li:last-child {
  border-bottom: none;
}

.page-links a {
  color: #ffff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

.show-page {
  transform: translateX(0%);
}
.links img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.page .image-page {
  margin-top: 455px;
  margin-left: 94px;
}

/* caption style */
.caption h2 {
  font-family: "DM Serif Display";
  font-size: 50px;
  font-weight: 100;
  justify-self: center;
}
.caption {
  position: relative;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: hsl(256, 26%, 20%);
  font-family: "Karla";
  margin-top: -10px;
  text-wrap: wrap;
  word-spacing: 4px;
}
.btn-caption {
  font-family: "Karla";
  width: 180px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  background: transparent;
  color: #ffff;
  border: 2px solid #ffff;
  margin-top: 32px;
}
.btn-caption:hover {
  cursor: pointer;
}
.img-up {
  position: absolute;
  left: 0;
  top: 0;
}
.img-down {
  position: absolute;
  right: 0;
  bottom: -170px;
}
.hr1 {
  position: relative;
  top: 80px;
  width: 50%;
  border-bottom: 1.3px solid #ccc;
  opacity: 0.6;
}
.main-title {
  position: relative;
  top: 100px;
  text-align: center;
  word-spacing: 10px;
  font-size: 40px;
}
.cards {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: fit-content; /* Adjust width as needed */
  margin: 0 auto; /* Center within containing element */
  flex-wrap: wrap;
  margin-top: 150px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px; /* Adjust spacing between cards */
  padding: 20px;
  width: 250px; /* Adjust card width if needed */
}

.card img {
  max-width: 100%;
  margin-bottom: 10px;
}
.card p {
  font-family: "Karla";
  font-weight: 500;
  opacity: 0.7;
}
.side-bar {
  background-color: hsl(256, 26%, 20%);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 360px;
  margin-top: 200px;
  color: #ffff;
  text-align: center;
}
.side-title {
  font-size: 38px;
  font-weight: 100;
  padding-top: 60px;
}
.btn-aside {
  background: transparent;
  border: 2px solid #ffff;
  color: #ffff;
  padding: 10px;
  width: 150px;
  font-family: "Karla";
  word-spacing: 5px;
}
.btn-aside:hover {
  cursor: pointer;
}
.img-aside {
  position: absolute;
  right: 0;
  top: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  position: relative;
  word-spacing: 6px;
  height: 190vh;
  width: 100%;
  background-color: hsl(0, 0%, 86%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 650;
  text-align: center;
}
.footer a {
  color: #000000;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer a:active {
  color: crimson;
}

.img-footer {
  margin-top: 80px;
}
.about-us {
  display: flex;
  font-size: 28px;
  width: 150px;
  justify-content: space-between;
  margin-top: 30px;
}

.hr2 {
  width: 90%;
  margin-top: 45px;
}

ul {
  list-style-type: none;
  gap: 20px;
  font-family: "Karla";
  text-indent: -20px;
}
.li-head {
  font-weight: 450;
  opacity: 0.8;
  margin: 25px;
}
.photo-footer {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
}

/* media queries */
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    justify-items: center;
    justify-self: end;
  }

  .nav-links a {
    color: #102a42;
    transition: all 0.3s linear;
    text-decoration: none;
  }

  .nav-links a:hover {
    color: hsl(256, 26%, 20%);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .v-p {
    border: 1px solid black;
    width: 130px;
    text-align: center;
    font-size: 16px;
    font-family: "Karla";
    padding: 10px;
    background: transparent;
    cursor: pointer;
    letter-spacing: 1.2px;
  }
}
@media screen and (min-width: 1024px) {
  .main .image img {
    width: 400px;
    margin-left: 62vw;
  }
  .main .caption {
    position: relative;
    bottom: 420px;
    z-index: -1;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px;
    padding-bottom: 300px;
    height: 180px;
  }
  .main .image-container {
    position: relative;
    left: 62vw;
    top: 155px;
  }
  .main .image img {
    width: 400px;
    margin-left: 0;
  }
  .btn-caption {
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 20px;
    cursor: pointer;
  }
  .cards {
    display: flex;
    align-items: flex-start;
    position: relative;
    bottom: 380px;
    right: 40px;
    gap: 40px;
  }
  .title-parent {
    position: relative;
    bottom: 400px;
    right: 380px;
  }
  .title-parent .main-title {
    font-size: 50px;
  }
  .title-parent .hr1 {
    width: 85px;
    border-bottom: 2px solid #ccc;
    opacity: 0.4;
  }
  aside.side-bar {
    width: 80%;
    height: 280px;
    position: relative;
  }
  .side-bar .side-title {
    padding-left: 120px;
    font-size: 46px;
    word-spacing: 15px;
    text-align: left;
    justify-items: center;
    position: absolute;
    bottom: 30px;
  }
  .side-bar .btn-aside {
    position: absolute;
    bottom: 50%;
    right: 65px;
  }
  .caption {
    position: relative;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  footer .about-us {
    align-self: flex-end;
    padding-right: 65px;
  }
  .footer .img-footer {
    align-self: flex-start;
    padding-left: 105px;
    position: absolute;
    top: -45px;
  }
  .hr2 {
    width: 60%;
  }
  .desktop-footer-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: space-between;
    position: absolute;
    top: 55px;
    left: 0;
  }
  .desktop-footer-container ul {
    flex: 1;
    text-align: center;
    margin-top: 80px;
  }
  .desktop-footer-container li {
    white-space: nowrap;
    margin-bottom: 8px;
  }
  .desktop-footer-container li.li-head {
    margin-bottom: 20px;
  }
  .li-head {
    font-weight: bold;
    margin-bottom: 15px;
  }
}
